# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
insert_final_newline = true
charset = utf-8

[*.rs]
indent_style = space
indent_size = 4

[*.toml]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
